.container {
    max-width: 1000px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.containerHeader {
    font-size: 24px;
    margin: 0;
}

.containerHeaderBox {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #aa0000aa;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #666;
    box-shadow: 1px 1px 5px 5px #aaa;
    font-size: 16px;
}

.containerButton {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    transition: linear 0.2s;
    transition-property: filter;
    border: none;
    box-shadow: 2px 2px 0px 0px #acacac;
    border-radius: 50%;
}

@media(max-width: 425px) {
    .containerButton {
        width: 50px;
        height: 50px;
    }
}

.containerButton:nth-of-type(3n-2) {
    background-color: #ff4d00;
    color: #fff;
}

.containerButton:nth-of-type(3n-1) {
    background-color: #ffe100;
    color: #666;
}

.containerButton:nth-of-type(3n) {
    background-color: rgb(3, 169, 28);
    color: #fff;
}

.containerButton--locked {
    filter: brightness(70%);
}

.containerButton--locked::after {
    display: block;
    margin: 0 auto;
    content: "";
    background-color: transparent;
    background-image: url("../images/locked.png");
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.containerButton--inProgress {
    animation-name: blinkButton;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 1s;
}

.containerButton--inProgress::after {
    display: block;
    margin: 0 auto;
    content: "";
    background-color: transparent;
    background-image: url("../images/inProgress.png");
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.containerButton--done {
    filter: brightness(120%);
    box-shadow: 0px 0px 5px 5px #00ff00;
}

.containerButton--done::after {
    display: block;
    margin: 0 auto;
    content: "";
    background-color: transparent;
    background-image: url("../images/done.png");
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.containerButton:disabled {
    user-select: none;
    pointer-events: none;
}

.containerButton:hover {
    cursor: pointer;
    filter: brightness(150%);
    box-shadow: 4px 4px 0px 0px #acacac;
}

.containerButton:active {
    filter: invert();
}

@keyframes blinkButton {
    from {
        filter: initial;
    }

    25% {
        filter: brightness(120%);
    }

    50% {
        filter: brightness(150%);
    }

    75% {
        filter: brightness(100%);
    }

    to {
        filter: brightness(80%);
    }
}