.footer {
    opacity: 50%;
    margin: -20px 0;
    font-size: 20px;
    text-align: center;
    color: #ffA;
    text-shadow: 5px 5px 5px #0033ff, -5px -5px 5px rgb(255, 255, 255);
    text-transform: capitalize;
}