.footer {
    position: sticky;
    padding: 10px 0;
    bottom: 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #333;
    background-color: rgba(100, 100, 100, 0.7);
    text-transform: capitalize;
}