.taskBox {
    display: block;
    transition: ease 0.5s;
    transition-property: opacity;
    background-color: rgba(171, 171, 171, 0.499);
    z-index: 4;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.taskBox--hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.taskBox--merryChristmassed {
    --dot-bg: rgb(73, 177, 218);
    --dot-color: rgb(234, 234, 234);
    --dot-size: 5px;
    --dot-space: 22px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    animation-name: letItSnow;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.taskBox__Content {
    text-shadow: 0px 0px 5px #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    background-color: rgb(255, 133, 133);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #fff;
    margin: 100px auto;
    object-fit: contain;
    max-width: 600px;
    padding: 30px;
}

.taskBox__Button {
    align-self: center;
    background-color: #eee;
    transition: linear 0.3s;
    transition-property: filter;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #fff;
}

.taskBox__Button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.taskBox__Button:active {
    filter: invert();
}

.taskBox__ContentHeader {
    align-self: center;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: normal;
}

.taskBox__ContentQuote {
    align-self: flex-end;
    text-align: right;
    margin-top: 5px;
    line-height: 1.3;
}

.taskBox__ContentQuoteAuthor {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.taskBox__ContentParagraph {
    align-self: center;
    font-size: 20px;
    padding: 0px 0px 20px;
}

.taskBox__ContentParagraph--merryChristmassed {
    font-size: 20px;
    padding: 0px 0px 20px;
    align-self: center;
    text-transform: uppercase;
    animation-name: blinkText;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}

@keyframes letItSnow {
    from {
        background-position-x: 0px;
        background-position-y: 0px;
    }

    50% {
        background-position-x: 30px;
        background-position-y: 100px;
    }

    to {
        background-position-x: 0px;
        background-position-y: 200px;
    }
}

@keyframes blinkText {
    from {
        color: initial;
    }

    50% {
        color: rgb(3, 169, 28);
    }

    to {
        color: rgb(255, 225, 0);
    }
}