.taskBox {
    display: block;
    transition: ease 0.5s;
    transition-property: opacity;
    backdrop-filter: blur(2rem);
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.taskBox--hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.taskBox__Content {
    text-shadow: 0px 0px 5px #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    background-color: rgba(255, 70, 70, 0.505);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #fff;
    margin: 100px auto;
    object-fit: contain;
    max-width: 600px;
    padding: 30px;
}

.taskBox__Button {
    align-self: center;
    background-color: #eee;
    transition: linear 0.3s;
    transition-property: filter;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #fff;
}

.taskBox__Button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.taskBox__Button:active {
    filter: invert();
}

.taskBox__ContentHeader {
    align-self: center;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: normal;
}

.taskBox__ContentQuote {
    align-self: flex-end;
    text-align: right;
    margin-top: 5px;
    line-height: 1.3;
}

.taskBox__ContentQuoteAuthor {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.taskBox__ContentParagraph {
    align-self: center;
    font-size: 20px;
    padding: 0px 0px 20px;
}

.taskBox__ContentParagraph--merryChristmassed {
    font-size: 20px;
    padding: 0px 0px 20px;
    align-self: center;
    text-transform: uppercase;
    animation-name: blinkText;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}

@keyframes blinkText {
    from {
        color: initial;
    }

    50% {
        color: rgb(3, 169, 28);
    }

    to {
        color: rgb(255, 225, 0);
    }
}